---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Suika With Friends</title>
	</head>
	<body class="bg-slate-700">
		<div class="">
			<div class="flex w-screen h-screen justify-center items-center">
				<canvas class="canvas absolute z-10" />
				<canvas class="debugCanvas z-0" />
			</div>
		</div>
	</body>
	<script src="../scripts/game.ts" />
</html>
